@font-face {
  font-family: "JingDongLangZhengTi";
  src:
    url("https://business-portal-cdn.s3.cn-north-1.jdcloud-oss.com/public/static/fonts/JDLANGZHENGTI.woff2") format("woff2"),
    url("https://business-portal-cdn.s3.cn-north-1.jdcloud-oss.com/public/static/fonts/JDLANGZHENGTI.woff") format("woff"),
    url("https://business-portal-cdn.s3.cn-north-1.jdcloud-oss.com/public/static/fonts/JDLANGZHENGTI.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
